In [1]:
import numpy as np

In [2]:
# creating a class for Lasso Regression

class Lasso_Regression():

  #initiating the hyperparameters
  def __init__(self, learning_rate, no_of_iterations, lambda_parameter):

    self.learning_rate = learning_rate
    self.no_of_iterations = no_of_iterations
    self.lambda_parameter = lambda_parameter


  # fitting the dataset to the Lasso Regression model
  def fit(self, X, Y):

    # m --> number of Data points --> number of rows
    # n --> number of input features --> number of columns
    self.m, self.n = X.shape

    self.w = np.zeros(self.n)

    self.b = 0

    self.X = X

    self.Y = Y

    # implementing Gradient Descent algorithm for Optimization

    for i in range(self.no_of_iterations):     # missed "self"
        self.upadte_weights()


  # function for updating the weight & bias value
  def upadte_weights(self):

    # linear equation of the model
    Y_prediction = self.predict(self.X)

    # gradients (dw, db)

    # gradient for weight
    dw = np.zeros(self.n)

    for i in range(self.n):

        if self.w[i]>0:

            dw[i] = (-(2*(self.X[:,i]).dot(self.Y - Y_prediction)) + self.lambda_parameter) / self.m 

        else :

            dw[i] = (-(2*(self.X[:,i]).dot(self.Y - Y_prediction)) - self.lambda_parameter) / self.m


    # gradient for bias
    db = - 2 * np.sum(self.Y - Y_prediction) / self.m


    # updating the weights & bias

    self.w = self.w - self.learning_rate*dw
    self.b = self.b - self.learning_rate*db

    


  # Predicting the Target variable
  def predict(self,X):

    return X.dot(self.w) + self.b

In [3]:
#importing  the important libraries
import pandas as pd
import numpy as np
#reading the input data 
df=pd.read_csv('Housing.csv')
#check the data
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [4]:
#describe the data
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [5]:
df.corr()

              price      area  bedrooms  bathrooms   stories   parking
price      1.000000  0.535997  0.366494   0.517545  0.420712  0.384394
area       0.535997  1.000000  0.151858   0.193820  0.083996  0.352980
bedrooms   0.366494  0.151858  1.000000   0.373930  0.408564  0.139270
bathrooms  0.517545  0.193820  0.373930   1.000000  0.326165  0.177496
stories    0.420712  0.083996  0.408564   0.326165  1.000000  0.045547
parking    0.384394  0.352980  0.139270   0.177496  0.045547  1.000000

In [6]:
# Select ratio
ratio = 0.75
 
total_rows = df.shape[0]
train_size = int(total_rows*ratio)
 
# Split data into test and train
train = df[0:train_size]
test = df[train_size:]

In [7]:
x_train = train.drop(['price','mainroad',
          'guestroom',
          'basement',
          'hotwaterheating',
          'airconditioning',
          'prefarea',
          'furnishingstatus'], axis = 1)

In [8]:
x_test = test.drop(['price','mainroad',
          'guestroom',
          'basement',
          'hotwaterheating',
          'airconditioning',
          'prefarea',
          'furnishingstatus'], axis = 1)

In [9]:
y_train = train['price']

In [10]:
y_test = test['price']

In [11]:
y_test

408    3430000
409    3430000
410    3430000
411    3430000
412    3430000
        ...
540    1820000
541    1767150
542    1750000
543    1750000
544    1750000
Name: price, Length: 137, dtype: int64

In [12]:
#lets check the shape of the data
x_train.shape , x_test.shape , y_train.shape , y_test.shape

((408, 5), (137, 5), (408,), (137,))

In [13]:
#Scaling the data with#lets scale the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.fit_transform(x_test)

x_train[:5] , x_test[:5]

(array([[ 0.81689742,  1.29837227,  1.17161428,  1.16732615,  1.32045379],
        [ 1.51381332,  1.29837227,  4.87718504,  2.25222152,  2.43818231],
        [ 1.96635611, -0.10676271,  1.17161428,  0.08243078,  1.32045379],
        [ 0.85310084,  1.29837227,  1.17161428,  0.08243078,  2.43818231],
        [ 0.81689742,  1.29837227, -0.6811711 ,  0.08243078,  1.32045379]]),
 array([[ 0.18338654, -0.88998192, -0.18428854, -0.83814401, -0.52196343],
        [-0.46004821, -0.88998192, -0.18428854, -0.83814401,  2.72844519],
        [ 0.06496297,  0.51148386, -0.18428854, -0.83814401, -0.52196343],
        [-1.28111831,  0.51148386, -0.18428854,  2.86591177, -0.52196343],
        [-0.91400524,  0.51148386, -0.18428854,  1.01388388, -0.52196343]]))

In [14]:
model = Lasso_Regression(learning_rate = 0.02, no_of_iterations=1000,
                         lambda_parameter=500)

In [15]:
model.fit(x_train, y_train)

In [16]:
test_data_prediction = model.predict(x_test)

In [17]:
print(test_data_prediction)

[ 4783428.61981561  5360037.49399015  4863753.73682231  5772582.02555887
  5136444.07993823  7076038.85470993  4802187.20575134  6635849.7215009
  5634982.94008002  4614601.34639407  6663307.49388883  7243387.32505137
  5693910.88474627  5135152.1061105   4652118.51826552  4816857.271983
  5366236.75765089  5360037.49399015  4324444.39117015  4918375.5184354
  5281594.73705883  6302422.35797516  4079981.64722584  5554423.74378803
  5900165.60977126  6174520.66961347  5841430.10860466  4802187.20575134
  4918375.5184354   6295159.50436797  5017910.94401221  4750601.09442809
  5770147.48204889  5961821.86111024  4645678.67383767  5563574.6528746
  5375616.05061876  4374828.24893368  7505382.0887568   4548946.29561902
  5786795.32402795  4686238.01748077  5530374.38458851  6073081.40289688
  9091943.24578567  4826230.06346905  6022787.26540135  5635200.58342911
  4182817.06735541  4465133.78568811  5717960.24394578  4548946.29561902
  7185591.20953517  5233634.68227307  4925409.9881613   4356670.78977782
  6351524.98244317  4689635.69013698  5361547.11116696  6390706.87104092
  4237084.80443755  5064807.40885153  5438704.39575236  5671063.77910647
  7203680.42948744  6682735.44580802  6583457.84301233  5168670.4785459
  7135297.07203965  5233634.68227307  6080126.61315498  5779526.77501676
  6023850.8553478   4173774.57690447  5389684.99007055  7014647.49675294
  4333222.55735816  4609911.69991014  5721357.91660199  6595525.2632209
  7355938.84066573  5939437.21863702  6431850.09944987  4625044.22930837
  5634610.19718145  4915339.84814557  6096529.63531653  6267712.47251225
  4783428.61981561  4752476.95302166  4699705.83015271 10113010.90672167
  4371340.85600947  4197823.93610399  5018974.53395865  4934098.43408129
  4401222.43137517  5788304.94120476  4272257.15306704  4595842.76045834
  4971014.47917289  8178568.24160049  4408858.02788092  4549547.42239888
  5168670.4785459   5975890.80056204  5319340.29281158  5417822.86897414
  4906423.01834428  4793871.50272992  4548946.29561902  6031565.43158936
  6518597.8188704   4612256.5231521   5073133.85240515  7619232.0796807
  4438270.63859823  4614601.34639407  4398877.6081332   3768589.12069276
  4618689.86609814  5774236.00175297  3972720.90487526  5543752.47699243
  4314463.97142243  5037961.50377566  5470010.10707725  4962698.77615147
  5817645.07366807  4709686.24990043  4618822.02822961  4789181.85624599
  5273279.03403741  4183754.9966522   4605222.0534262   4422926.96733272
  5717960.24394578]

In [18]:
from sklearn import metrics

# R squared error
score_1 = metrics.r2_score(y_test, test_data_prediction)

# Mean Absolute Error
score_2 = metrics.mean_absolute_error(y_test, test_data_prediction)

print("R squared error : ", score_1)
print('Mean Absolute Error : ', score_2)

R squared error :  -36.53035988979515
Mean Absolute Error :  2555905.373908676

In [19]:
SSres = np.sum((y_test - test_data_prediction)**2)

In [20]:
mean_y_pred = np.mean(test_data_prediction)

In [21]:
SStot = np.sum((y_test - mean_y_pred)**2)

In [22]:
r2 = 1 - SSres/SStot

In [23]:
r2

-0.12778678100506569